.drinks_categories_sect {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(rgba(77, 29, 29, 0.7), rgba(27, 26, 26, 0.7)),
    url("../../../assets/drinks/categories.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.drinks_categories_mainDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.drinks_categories_btn {
  position: relative;
  letter-spacing: 0.1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  width: 200px;
  height: 80px;
  padding: 20px;
  font-style: italic;
  box-shadow: rgba(199, 56, 102, 0.25) 0px 54px 55px,
    rgba(199, 56, 102, 0.12) 0px -12px 30px,
    rgba(199, 56, 102, 0.12) 0px 4px 6px, rgba(199, 56, 102, 0.17) 0px 12px 13px,
    rgba(199, 56, 102, 0.09) 0px -3px 5px;
}

.drinks_categories_btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: rgb(199, 56, 102) #fff;
}

.drinks_categories_btn:hover {
  background: linear-gradient(90deg, #c73866 0%, #fe676e 100%);
  color: #fff;
  border: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 10px;
  box-shadow: none;
}

.drinks_cat_head {
  color: #fff;
}