.drinks_categories_sect {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(rgba(77, 29, 29, 0.7), rgba(27, 26, 26, 0.7)),
    url("../../../assets/drinks/categories.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.drinks_categories_mainDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.drinks_categories_btn {
  padding: 20px;
  /* border-top-left-radius: 60px; */
  /* border-bottom-right-radius: 60px; */
  border-radius: 40px;
  cursor: pointer;
  width: 200px;
  height: 80px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
