.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px red solid; */
}

.nav_list {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.nav_list li {
   text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border: none;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background: linear-gradient(90deg, #c73866 0%, #fe676e 100%);
  cursor: pointer;
  color: #fff;
}

.nav_list li:hover {
  background: #000;
  border: 2px solid #c73866;
}

@media screen and (max-width: 768px) {
  .nav_list,
  .header {
    flex-direction: column;
  }
}
  