.about_page {
  min-height: 100vh;
  max-width: 100vw;
  overflow-y: hidden;
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(179, 52, 52, 0.7)),
    url("../../assets/landing&about/about.jpg");
  /* background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(24, 23, 23, 0.7)), 
    url("../../assets/about.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px;
  cursor: pointer;
}

.about_header {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
  height: 90px;
}

.about_nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin-right: 30px;
}

.about_nav li {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border: 2px solid #c73866;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background: linear-gradient(90deg, #c73866 0%, #fe676e 100%);
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-style: italic;
}

.about_nav li:hover {
  background: #000;
}

.about_content {
  text-align: center;
  margin: 60px auto 0;
  width: 70%;
}

.about_content p {
  font-size: 15px;
  letter-spacing: 0.05rem;
}

.span {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-decoration: underline;
}

.panic {
  text-decoration: underline;
  font-weight: 900;
  text-decoration-style: wavy;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
  font-style: italic;
}

@media screen and (max-width: 900px) {
  .about_nav li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 625px) {
  .about_nav li {
    font-size: 0.8rem;
  }

  .logo {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 420px) {
  .about_nav ul {
    gap: 10px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .about_header {
    margin: 20px;
  }

  .about_content p {
    font-size: 14px;
  }

  .span {
    font-size: 1rem;
  }

  .panic {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 350px) {
  .about_nav li {
    font-size: 0.6rem;
  }

  .about_content {
    margin-top: 100px;
  }

  .about_nav ul {
    position: absolute;
    left: 10px;
  }
}
