.drinks_details_img {
  width: 300px;
  height: 260px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.back_btn {
  border: 2px solid #c73866;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.back_btn:hover {
  background: #c73866;
  text-decoration: underline;
}

.ingredients_div {
  margin-bottom: 50px;
}

.lang {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background: linear-gradient(90deg, #c73866 0%, #fe676e 100%);
  color: white;
  border-radius: 20px;
  padding: 2px;
  border: 2px  solid;
  font-size: 0.7rem;
  font-weight: bold;
}

@media screen and (max-width: 280px) {
  .drinks_details_img {
     width: 200px;
    height: auto;
  }
}
  


