.drinks_details_img {
  width: 300px;
  height: 260px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.back_btn {
  border: 2px solid #c73866;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.back_btn:hover {
  background: #c73866;
  text-decoration: underline;
}

.ingredients_div {
  margin-bottom: 50px;
}

.lang {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background: linear-gradient(90deg, #c73866 0%, #fe676e 100%);
  color: white;
  border-radius: 20px;
  padding: 2px;
  border: 2px solid;
  font-size: 0.7rem;
  font-weight: bold;
}

.drinks_ingredients_card {
  background: black;
  border: 2px solid #c73866;
}

.wrong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.wrong h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 5px;
}

.wrong_btn {
  padding: 10px;
  border-radius: 10px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #c73866;
  cursor: pointer;
  max-width: 200px;
  margin: 5px;
  letter-spacing: 0.1rem;
}

.wrong_btn:hover {
  background: #c73866;
  text-decoration: underline;
}

@media screen and (max-width: 280px) {
  .drinks_details_img {
    width: 200px;
    height: auto;
  }
}
