.landingPage {
  height: 100vh;
  overflow-y: hidden;
  color: #fff;
  background: linear-gradient(rgba(139, 121, 121, 0.7), rgba(145, 40, 40, 0.7)),
    url("../../assets/landing&about/landing.jpg");
  /* background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(24, 23, 23, 0.7)), 
    url("../../assets/6.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.recipes {
  position: absolute;
  left: 15%;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  font-style: italic;
  text-align: center;
}

.recipes_para {
  position: absolute;
  text-align: center;
  top: 27%;
  left: 36%;
  font-size: 0.5rem;
}

.intro_heading {
  position: absolute;
  top: 35%;
  right: 15%;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 0.4rem;
}

.intro_para {
  position: absolute;
  width: 40%;
  top: 51%;
  right: 19.5%;
  letter-spacing: 0.15rem;
}

.landing_btn {
  position: absolute;
  top: 70%;
  right: 10.5%;
  width: 30%;
  padding: 20px;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border: none;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: linear-gradient(90deg, #c73866 0%, #fe676e 100%);
  cursor: pointer;
  color: #fff;
}

.cook {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  height: 500px;
}
.img1 {
  position: absolute;
  top: 10%;
  right: 5%;
}

.img2 {
  position: absolute;
  left: 30px;
  top: 350px;
  width: 35%;
}

@media screen and (max-width: 1200px) {
  .recipes_para {
    left: 39%;
  }
}

@media screen and (max-width: 1100px) {
  .recipes_para {
    left: 41%;
  }
}

@media screen and (max-width: 1000px) {
  .recipes_para {
    left: 45%;
  }
}

@media screen and (max-width: 840px) {
  .recipes_para {
    left: 50%;
    top: 18%;
  }

  .intro_heading {
    font-size: 50px;
  }

  .intro-para {
    width: 50%;
  }
}

@media screen and (max-width: 718px) {
  .recipes_para {
    left: 56%;
  }

  .intro_heading {
    font-size: 40px;
  }

  .intro_para {
    width: 50%;
  }
}

@media screen and (max-width: 615px) {
  .recipes_para {
    left: 63%;
  }
  .intro_heading {
    right: 10%;
  }

  .landing_btn {
    width: 40%;
  }
}

@media screen and (max-width: 550px) {
  .recipes_para {
    top: 22%;
    left: 58%;
  }

  .recipes {
    position: static;
    font-size: 5rem;
  }

  .intro_heading {
    position: static;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.13rem;
  }

  .intro_para {
    top: 43%;
    width: 60%;
    right: 8%;
    font-size: 15px;
  }

  .landing_btn {
    padding: 30px;
  }
}

@media screen and (min-width: 376px) and (max-width: 430px) {
  .recipes_para {
    top: 20%;
  }
}

@media screen and (max-width: 360px) {
  .recipes_para {
    left: 57%;
    top: 13%;
  }

  .recipes {
    font-size: 3rem;
  }

  .intro_heading {
    font-size: 20px;
  }

  .intro_para {
    top: 30%;
    width: 65%;
    font-size: 12px;
  }

  .landing_btn {
    width: 60%;
  }
}

@media screen and (max-width: 320px) {
  .recipes_para {
    left: 57%;
    top: 18%;
  }

  .recipes {
    font-size: 3rem;
  }

  .intro_heading {
    font-size: 20px;
  }

  .intro_para {
    top: 35%;
    width: 65%;
    font-size: 12px;
  }

  .landing_btn {
    width: 60%;
  }
}

@media screen and (max-width: 280px) {
  .landing_btn {
    width: 80%;
  }

  .recipes_para {
    top: 15%;
  }
}
