.landingPage {
  height: 100vh;
  overflow-y: hidden;
  color: #fff;
  background: linear-gradient(rgba(139, 121, 121, 0.7), rgba(145, 40, 40, 0.7)),
    url("../../assets/landing.jpg");
  /* background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(24, 23, 23, 0.7)), 
    url("../../assets/6.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.recipes {
  position: absolute;
  left: 15%;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  font-style: italic;
  text-align: center;
}

.recipes_para {
  position: absolute;
  text-align: center;
  top: 26%;
  left: 35%;
  font-size: 0.5rem;
}

.intro_heading {
  position: absolute;
  top: 35%;
  right: 15%;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: 0.4rem;
}

.intro_para {
  position: absolute;
  width: 40%;
  top: 51%;
  right: 19.5%;
  letter-spacing: 0.15rem;
}

.landing_btn {
  position: absolute;
  top: 70%;
  right: 10.5%;
  width: 30%;
  padding: 20px;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border: none;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: linear-gradient(90deg, #c73866 0%, #fe676e 100%);
  cursor: pointer;
  color: #fff;
}

.cook {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  height: 500px;
}
.img1 {
  position: absolute;
  top: 10%;
  right: 5%;
}

.img2 {
  position: absolute;
  left: 30px;
  top: 350px;
  width: 35%;
}
