.individual_category {
  overflow: hidden;
  min-height: 100vh;
}

.individual_category h3 {
  text-align: center;
  color: white;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.one_cat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-items: center;
  margin: 0 auto;
}

.recipe_image {
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
}

.recipe_image,
.meal_title {
  transition: all 0.3s ease-in-out;
}

.recipe_image:hover {
  transform: scale(1.1);
}

.individual_items > .meal_title {
  opacity: 0;
  transform: translateY(100%);
}

.individual_items:hover > .meal_title {
  opacity: 1;
  transform: translateY(0);
  text-align: center;
}

.title_head {
  text-decoration: overline;
  text-align: center;
  color: #c73866;
  font-weight: 900;
  font-style: italic;
  margin: 80px auto 50px;
}

.meal_title {
  color: white;
  font-style: italic;
  font-size: 15px;
}

.dessert_cat {
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/dessert.jpg");
  background-position: center center;
  background-blend-mode: color;
}

.beef_cat {
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/beef.jpg");
  background-position: center center;
}

.vegetarian_cat {
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/vegetarian.jpg");
  background-position: center center;
}

.chicken_cat {
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/chicken.jpg");
  background-position: center center;
}

.pork_cat {
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/pork.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.goat_cat {
  /* height: 100vh; */
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/goat.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breakfast_cat {
  /* height: 100vh; */
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/breakfast.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seafood_cat {
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/seafood.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.side_cat {
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/side.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.starter_cat {
  /* height: 100vh; */
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/starter.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.lamb_cat {
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/lamb.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.miscellaneous_cat {
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/miscellaneous.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.pasta_cat {
  background: linear-gradient(rgba(29, 28, 28, 0.7), rgba(66, 17, 17, 0.7)),
    url("../../../assets/category/pasta.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.vegan_cat {
  /* height: 100vh; */
  overflow-y: hidden;
  background: linear-gradient(rgba(71, 68, 68, 0.7), rgba(77, 26, 26, 0.7)),
    url("../../../assets/category/vegan.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .title_head {
    margin-top: 150px;
  }
}